<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wwex="http://www.wwexship.com">
   <soapenv:Header>
      <wwex:AuthenticationToken>
         <wwex:loginId>testwwe</wwex:loginId>
         <wwex:password>test</wwex:password>
         <wwex:licenseKey>ccc</wwex:licenseKey>
         <wwex:accountNumber>71581537</wwex:accountNumber>
      </wwex:AuthenticationToken>
   </soapenv:Header>
   <soapenv:Body>
      <wwex:quoteSpeedFreightShipment>
         <wwex:freightShipmentQuoteRequest>
            <wwex:senderCity>SUNRISE</wwex:senderCity>
            <wwex:senderState>FL</wwex:senderState>
            <wwex:senderZip>33325</wwex:senderZip>
            <wwex:senderCountryCode>USA</wwex:senderCountryCode>
            <wwex:insidePickup>?</wwex:insidePickup>
            <wwex:liftgatePickup>?</wwex:liftgatePickup>
            <wwex:residentialPickup>?</wwex:residentialPickup>
            <wwex:tradeshowPickup>?</wwex:tradeshowPickup>
            <wwex:constructionSitePickup>?</wwex:constructionSitePickup>
            <wwex:limitedAccessPickup>?</wwex:limitedAccessPickup>
            <wwex:limitedAccessPickupType>?</wwex:limitedAccessPickupType>
            <wwex:receiverCity>JACKSONVILLE</wwex:receiverCity>
            <wwex:receiverState>FL</wwex:receiverState>
            <wwex:receiverZip>32257</wwex:receiverZip>
            <wwex:receiverCountryCode>USA</wwex:receiverCountryCode>
            <wwex:insideDelivery>?</wwex:insideDelivery>
            <wwex:liftgateDelivery>?</wwex:liftgateDelivery>
            <wwex:residentialDelivery>?</wwex:residentialDelivery>
            <wwex:tradeshowDelivery>?</wwex:tradeshowDelivery>
            <wwex:constructionSiteDelivery>?</wwex:constructionSiteDelivery>
            <wwex:limitedAccessDelivery>?</wwex:limitedAccessDelivery>
            <wwex:limitedAccessDeliveryType>?</wwex:limitedAccessDeliveryType>
            <wwex:notifyBeforeDelivery>?</wwex:notifyBeforeDelivery>
            <wwex:collectOnDelivery>?</wwex:collectOnDelivery>
            <wwex:collectOnDeliveryAmount>?</wwex:collectOnDeliveryAmount>
            <wwex:CODIncludingFreightCharge>?</wwex:CODIncludingFreightCharge>
            <wwex:shipmentDate>?</wwex:shipmentDate>
            <wwex:insuranceDetail xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
            <wwex:commdityDetails>
               <wwex:is11FeetShipment>?</wwex:is11FeetShipment>
               <wwex:handlingUnitDetails>
                  <!--Zero or more repetitions:-->
                  <wwex:wsHandlingUnit>
                     <wwex:typeOfHandlingUnit>CARTON</wwex:typeOfHandlingUnit>
                     <wwex:numberOfHandlingUnit>1</wwex:numberOfHandlingUnit>
                     <wwex:handlingUnitHeight>0</wwex:handlingUnitHeight>
                     <wwex:handlingUnitLength>0</wwex:handlingUnitLength>
                     <wwex:handlingUnitWidth>0</wwex:handlingUnitWidth>
                     <wwex:lineItemDetails>
                        <!--Zero or more repetitions:-->
                        <wwex:wsLineItem>
                           <wwex:lineItemClass>85</wwex:lineItemClass>
                           <wwex:lineItemWeight>80</wwex:lineItemWeight>
                           <wwex:lineItemDescription>HYDRAULICS</wwex:lineItemDescription>
                           <wwex:lineItemNMFC>aaaac</wwex:lineItemNMFC>
                           <wwex:lineItemPieceType>BOX</wwex:lineItemPieceType>
                           <wwex:piecesOfLineItem>1</wwex:piecesOfLineItem>
                           <wwex:isHazmatLineItem>N</wwex:isHazmatLineItem>
                           <wwex:lineItemHazmatInfo>
                              <wwex:lineItemHazmatUNNumberHeader>?</wwex:lineItemHazmatUNNumberHeader>
                              <wwex:lineItemHazmatUNNumber>?</wwex:lineItemHazmatUNNumber>
                              <wwex:lineItemHazmatClass>?</wwex:lineItemHazmatClass>
                              <wwex:lineItemHazmatEmContactPhone>?</wwex:lineItemHazmatEmContactPhone>
                              <wwex:lineItemHazmatPackagingGroup>?</wwex:lineItemHazmatPackagingGroup>
                           </wwex:lineItemHazmatInfo>
                        </wwex:wsLineItem>
                     </wwex:lineItemDetails>
                  </wwex:wsHandlingUnit>
               </wwex:handlingUnitDetails>
            </wwex:commdityDetails>
         </wwex:freightShipmentQuoteRequest>
      </wwex:quoteSpeedFreightShipment>
   </soapenv:Body>
</soapenv:Envelope>